@import "tailwindcss";

:root {
  --background: #0A0A0A;
  --foreground: #FFFFFF;
  --accent: #00FF9C;
  --accent-glow: #00ff9c40;
  --text-secondary: #A3A3A3;
}

body {
  background: var(--background);
  color: var(--foreground);
}

button {
  cursor: pointer;
}
